.eventsSectionOneCalendar{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 80%;
  margin: 0px auto 300px;
  .content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 30%;
    h2{
      font-size: 46px;
      line-height: 56px;
      font-weight: 700;
    }
    p{
      font-size: 13px;
    }
  }

  .calendarEventsContainer{
    flex-basis: 60%;
    border-radius: 20px;
    border: 1px solid lightgray;
    display: flex;
    .eventsListContainer{
      flex-basis: 50%;
    }
    .calendarContainer{
      flex-basis: 50%;
      border-left: 1px solid lightgray;
      display: flex;
      padding: 15px 0 75px 7% ;
      flex-direction: column;
      gap: 25px;
    }
  }

  .dottedPatternEventsCalendar{
    position: absolute;
    width: 42vw;
    bottom: -150px;
    left: -10vw;
    height: 150px;
    background-image: radial-gradient(circle, #696969 1.5px, transparent 1.5px);
    background-size: 25px 25px;
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  }
}