.aboutSectionThreeContainer{
  width: 80%;
  margin: 200px auto 150px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
  }
  .dottedPatternAboutSectionThree{
    background-image: radial-gradient(circle, #acacac 2px, transparent 2px);
    background-size: 20px 20px;
    width: 58vw;
    height: 160px;
    position: absolute;
    right: -10vw;
    top: -80px;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .boardPeopleContainer{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
    margin-top: 50px;
    .boardPersonContainer{
      flex-basis: 15%;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 5px 20px 30px;
      height: 360px;
      border-bottom-left-radius: 91.15px;
      border-bottom-right-radius: 91.15px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
      text-align: center;
      .imageContainer{
        width: 90%;
        position: relative;
        height: 140px;
        img{
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;
        }
      }

      h3{
        font-size: 16px;
        color: #e87b22;
        font-weight: 600;
      }

      p{
        font-size: 13px;
        color: lightgray;
        font-weight: 600;
      }

      .socialMediaBoard{
        display: flex;
        align-items: center;
        gap: 7px;
      }

    }

  }
}