.dottedPatternAfterSpeakers{
  width: 100vw !important;
  margin: 200px 0 100px;
  height: 150px;
  background-image: radial-gradient(circle, #acacac 2px, transparent 2px);
  background-size: 20px 20px;
}

.spaceDivision{
  height: 100px;
}