.buyTicketContainer {
  position: absolute;
  z-index: 2;
  animation: slideInRight 1s ease forwards 0.2s;
}

.buyTicketContainer a {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 250px;
  height: 70px;
  padding: 10px;
  border-radius: 45px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  img {
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 25px;
    background-color: #e87b22;
  }
  .buyTicketText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      font-weight: 600;
    }
    p {
      font-size: 12px;
      color: lightgray;
    }
  }
}